<!-- Toolbar -->

<div class="toolbar header nav" role="banner">
  <a href="#">
    <i class="fab fa-galactic-senate fa-3x logo"></i>
    <span class="titulo">Star Wars</span>
  </a>
  

  <div class="titulo2">
    Catálogo
  </div>

  <div >
    <a class="linkAPI" href="http://swapi.py4e.com/" target="blank" >
      <i class="fas fa-bookmark mr-2"></i> Documentation API
    </a>
  </div>

</div>

<div class="content " role="main">
  <!-- Resources -->
  <div class="card-container pl-2 mt-5 principal">

    <a class="card btnLink" target="_blank" rel="noopener">
      <span class="flex-grow-1 labelbtn">Personajes</span>
      <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" /></svg>
    </a>

    <a class="card btnLink" target="_blank" rel="noopener">
      <span class="flex-grow-1 labelbtn">Películas</span>
      <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" /></svg>
    </a>

    <a class="card btnLink" target="_blank" rel="noopener">
      <span class="flex-grow-1 labelbtn">Naves espaciales</span>
      <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" /></svg>
    </a>

    <a class="card btnLink" target="_blank" rel="noopener">
      <span class="flex-grow-1 labelbtn">Vehículos</span>
      <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" /></svg>
    </a>

    <a class="card btnLink" target="_blank" rel="noopener">
      <span class="flex-grow-1 labelbtn">Planetas</span>
      <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" /></svg>
    </a>

    <a class="card btnLink" target="_blank" rel="noopener">
      <span class="flex-grow-1 labelbtn">Especies o razas</span>
      <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" /></svg>
    </a>

  </div>

</div>
<div class="Api" >
</div>
<app-footer></app-footer>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>