<!-- Toolbar -->

<div class="toolbar" role="banner">
  <i class="fab fa-galactic-senate fa-3x logo"></i>
  <span class="titulo">Star Wars</span>
  <div class="titulo2">
    Catálogo
  </div>

</div>

<div class="content" role="main">
  <!-- Resources -->
  <div class="card-container" >
    <a class="card" target="_blank" rel="noopener">
    
      <span>Prueba</span>

      <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" /></svg> </a>

    <a class="card" target="_blank" rel="noopener">
    
      <span>Personajes</span>

      <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" /></svg>
    </a>

    <a class="card" target="_blank" rel="noopener">
      
      <span>Peliculas</span>

      <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" /></svg>
    </a>

    <a class="card" target="_blank" rel="noopener">
        
      <span>Naves espaciales</span>

      <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" /></svg>
    </a>

    <a class="card" target="_blank" rel="noopener">
      <span>Vehiculos</span>
        <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" /></svg>
    </a>
    <a class="card" target="_blank" rel="noopener">
      <span>Planetas</span>
      <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" /></svg>
    </a>

    <a class="card" target="_blank" rel="noopener">
      <span>Especies o razas</span>
      <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24">
      <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" /></svg>
    </a>
  </div>

</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>